@model IEnumerable<CRM_Crud.Models.Curso>

@{
    ViewData["Title"] = "Curso";

    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js" integrity="sha512-eOUPKZXJTfgptSYQqVilRmxUNYm0XVHwcRHD4mdtCLWf/fC9XWe98IT8H1xzBkLL4Mo9GL0xWMSJtgS5te9rQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    if (TempData["Confirmacao"] != null)
    {
        <script>
            alertify.success("@TempData["Confirmacao"].ToString()");
        </script>
    }

    if (TempData["Erro"] != null)
    {
        <script>
            alertify.error("@TempData["Erro"].ToString()");
        </script>
    }
}

<div class="item">
    <div class="tablehead">
        <h1 class="titulomid">Cursos</h1>
        <a asp-action="Criar" class="criar">Criar Novo</a>
    </div>
    <form asp-action="Pesquisar" class="pesquisa" method="get">
        <select name="campo">
            <option value="titulo">Titulo</option>
            <option value="periodo_letivo">Periodo letivo</option>
            <option value="categoria">Categoria</option>
        </select>
        <input type="text" name="pesquisa" placeholder="Pesquise aqui" />
        <button type="submit"><img src="https://img.icons8.com/ios-glyphs/25/ffffff/search.png" /></button>
    </form>
    <script src="~/lib/sortable/sortable.min.js"></script>
    <table class="sortable-theme-bootstrap" data-sortable>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_termino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.periodo_letivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.qnt_de_inscricoes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_termino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.periodo_letivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qnt_de_inscricoes)
                    </td>
                    <td style="display:flex;gap:30px;">
                        <a asp-action="Editar" asp-route-id="@item.id"><img src="https://img.icons8.com/ios-glyphs/30/edb10c/edit--v1.png" /></a>
                        <form asp-action="Deletar" method="post" id="delete_form_@item.id">
                            <input type="hidden" name="id" value="@item.id" />
                            <a style="cursor:pointer" onclick="Confirmar(@item.id)"><img src="https://img.icons8.com/color/30/000000/delete-sign--v1.png" /></a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        function Confirmar(id) {

            alertify.confirm("Tem certeza que deseja excluir esse curso?",
                function () {
                    document.getElementById(`delete_form_${id}`).submit();
                },
                function () {

                }
            ).set({ title: "Deletar" }).set({ labels: { ok: 'Tenho', cancel: 'Cancelar' } });
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/navbar.js"></script>
}