@model IEnumerable<CRM_Crud.Models.Inscricao>

@{
    ViewData["Title"] = "Inscrições";

    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js" integrity="sha512-eOUPKZXJTfgptSYQqVilRmxUNYm0XVHwcRHD4mdtCLWf/fC9XWe98IT8H1xzBkLL4Mo9GL0xWMSJtgS5te9rQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    if (TempData["Confirmacao"] != null)
    {
        <script>
            alertify.success("@TempData["Confirmacao"].ToString()");
        </script>
    }

    if (TempData["Erro"] != null)
    {
        <script>
            alertify.error("@TempData["Erro"].ToString()");
        </script>
    }
}

<div class="item">
    <div class="tablehead">
        <h1 class="titulomid">Inscrições</h1>
        <a asp-action="Criar" class="criar">Criar Novo</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.data_de_inscricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_de_inscricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td style="display:flex;gap:30px;">
                        <a asp-action="Editar" asp-route-id="@item.id"><img src="https://img.icons8.com/ios-glyphs/30/edb10c/edit--v1.png" /></a>
                        <a style="cursor:pointer" onclick="Confirmar(@item.id)"><img src="https://img.icons8.com/color/30/000000/delete-sign--v1.png" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        function Confirmar(id) {

            alertify.confirm("Tem certeza que deseja excluir essa inscrição?",
                function () {
                    window.location.href = `/inscricao/deletar/${id}`;
                },
                function () {

                }
            ).set({ title: "Deletar" }).set({ labels: { ok: 'Tenho', cancel: 'Cancelar' } });
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/navbar.js"></script>
}